In [4]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

import numpy as np

In [5]:
CAREER_LENGTH = 1

#EARLY_CAREER_LEN_LIST = [1, 2, 3, 4, 5]
EARLY_CAREER_LEN_LIST = [3]
#RECOGNITION_CUT_OFF_LIST = [3, 4, 5, 6, 7, 8, 9]
RECOGNITION_CUT_OFF_LIST = [5]

MAX_CAREER_LEN = 15
END_YEAR = 2018

In [6]:
credible_authors = pd.read_csv('derived-data/authors-scientific-extended.csv')

In [7]:
credible_authors.columns

Index(['author', 'start_year', 'end_year', 'total_num_pub', 'career_length',
       'max_absence-0-15', 'avg_absence-0-15', 'dropped_after_10', 'gender',
       'early_career_degree_3', 'early_career_qual_3', 'succ_after_15y',
       'early_career_prod_3', 'early_career_coauthor_max_cit_3',
       'early_career_recognition_EC3_RC3', 'early_career_recognition_EC3_RC5',
       'h-index_15', 'h-index_3'],
      dtype='object')

In [8]:
credible_authors = credible_authors[credible_authors.career_length >= CAREER_LENGTH]

In [9]:
credible_authors['citation_increase_15_3'] = credible_authors['succ_after_15y'] - credible_authors[
    'early_career_recognition_EC3_RC3']

In [10]:
credible_authors['h_index_increase_15_3'] = credible_authors['h-index_15'] - credible_authors['h-index_3']

## Data first look

In [ ]:
credible_authors.columns

In [ ]:
credible_authors.head()

## Correlations

In [ ]:
cor_qual = credible_authors.corr()

In [ ]:
cor_qual
#cor_qual['succ_after_15y'].sort_values()

In [ ]:
#cor_rec = credible_authors[['early_career_recognition_EC1_RC3', 'early_career_recognition_EC1_RC5',
#       'early_career_recognition_EC1_RC7', 'early_career_recognition_EC1_RC9',
#       'early_career_recognition_EC2_RC3', 'early_career_recognition_EC2_RC5',
#       'early_career_recognition_EC2_RC7', 'early_career_recognition_EC2_RC9',
#       'early_career_recognition_EC3_RC3', 'early_career_recognition_EC3_RC5',
#       'early_career_recognition_EC3_RC7', 'early_career_recognition_EC3_RC9',
#       'early_career_recognition_EC4_RC5', 'early_career_recognition_EC4_RC7',
#       'early_career_recognition_EC4_RC9', 'early_career_recognition_EC5_RC5',
#       'early_career_recognition_EC5_RC7', 'early_career_recognition_EC5_RC9',
#       'succ_after_15y']].corr()

In [ ]:
#cor_rec['succ_after_15y'].sort_values()

In [ ]:
cor = credible_authors.corr()

In [ ]:
cor['citation_increase_15_3'].sort_values()

In [ ]:
sns.heatmap(cor, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

## Linear reg

In [11]:
from sklearn.linear_model import LinearRegression, ElasticNet, ElasticNetCV, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import r2_score

from sklearn.model_selection import cross_val_score

from sklearn.utils import shuffle

### Test different predictors

In [12]:
# test different early career lenghts

In [13]:
year = 1995

credible_authors_1991 = credible_authors[credible_authors.start_year == year]

In [14]:
X = credible_authors_1991.copy()

In [15]:
categorical_cols = ['gender']

for col in categorical_cols:
    X = X.join(pd.get_dummies(X[categorical_cols]))

X.drop(categorical_cols, axis=1, inplace=True)

In [ ]:
def run_linear(func, name):
    df = pd.DataFrame(columns=['params', f'r_squared_{name}'])
    for EARLY_CAREER in EARLY_CAREER_LEN_LIST:
        for RECOGNITION_CUT in RECOGNITION_CUT_OFF_LIST:
            if RECOGNITION_CUT < EARLY_CAREER: continue
            H = X[[
                #'max_absence-0-3', 'avg_absence-0-3',
                   'gender_f', 'gender_m', 'gender_none',
                   f'early_career_degree_{EARLY_CAREER}', 
                   f'early_career_prod_{EARLY_CAREER}',
                   f'early_career_qual_{EARLY_CAREER}', f'early_career_recognition_EC{EARLY_CAREER}_RC{RECOGNITION_CUT}']]
            reg = func.fit(H, y)
            df = df.append({'params': f'EC:{EARLY_CAREER},REC:{RECOGNITION_CUT}',
                            f'r_squared_{name}': reg.score(H, y)}, ignore_index=True)
    return df

In [ ]:
def run_cv(func, name, cv, y_col='succ_after_15y'):
    df = pd.DataFrame(columns=['params', f'r_squared_{name}'])
    for EARLY_CAREER in EARLY_CAREER_LEN_LIST:
        for RECOGNITION_CUT in RECOGNITION_CUT_OFF_LIST:
            if RECOGNITION_CUT < EARLY_CAREER: continue
            H = X[[
                #'max_absence-0-3', 'avg_absence-0-3',
                   'gender_f', 'gender_m', 'gender_none',
                   f'early_career_degree_{EARLY_CAREER}', 
                   f'early_career_prod_{EARLY_CAREER}',
                   f'early_career_qual_{EARLY_CAREER}', f'early_career_recognition_EC{EARLY_CAREER}_RC{RECOGNITION_CUT}']]
            y = X[y_col]
            score = np.mean(cross_val_score(func, H, y, cv=cv, scoring='r2'))
            df = df.append({'params': f'EC:{EARLY_CAREER},REC:{RECOGNITION_CUT}',
                            f'r_squared_{name}': score}, ignore_index=True)
    return df

In [ ]:
df1 = run_cv(LinearRegression(), 'linear', cv=3)

In [ ]:
# df1_null = run_cv(LinearRegression(), 'linear_null', cv=3, y_col='succ_shuffled')

In [ ]:
df2 = run_cv(ElasticNet(), 'elastic', cv=3)

In [ ]:
df3 = run_cv(ElasticNetCV(cv=3), 'elastic_CV', cv=3)

In [ ]:
df4 = run_cv(Lasso(alpha=0.1), 'lasso', cv=3)

In [ ]:
# Decision tree overfits pretty bad. Maybe GridParam Search?
df5 = run_cv(DecisionTreeRegressor(), 'tree', cv=3)

In [ ]:
df6 = run_cv(RandomForestRegressor(), 'forest', cv=3)

In [ ]:
# df6_null = run_cv(RandomForestRegressor(), 'forest_null', cv=3, y_col='succ_shuffled')

In [ ]:
dfs = [df1, df2, df3, df4, df5, df6] #df1_null, df6_null
for df_ in dfs: df_.set_index('params', inplace=True)

In [ ]:
dfs[0].join(dfs[1:])

### Elastic net

In [16]:
years = sorted(credible_authors.start_year.unique())
cohort_start_years = [y for y in years if y < (END_YEAR - MAX_CAREER_LEN)]
EARLY_CAREER = EARLY_CAREER_LEN_LIST[0]
RECOGNITION_CUT = RECOGNITION_CUT_OFF_LIST[0]

In [17]:
from sklearn.preprocessing import StandardScaler,RobustScaler
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_validate

In [90]:
cols_std = [f'early_career_degree_{EARLY_CAREER}',
       f'early_career_prod_{EARLY_CAREER}', f'early_career_coauthor_max_cit_{EARLY_CAREER}',
       f'early_career_qual_{EARLY_CAREER}', 
#             f'early_career_recognition_EC3_RC3',
#             f'early_career_recognition_EC{EARLY_CAREER}_RC{RECOGNITION_CUT}'
           ] 
cols_all = [f'early_career_degree_{EARLY_CAREER}',
       f'early_career_prod_{EARLY_CAREER}', f'early_career_coauthor_max_cit_{EARLY_CAREER}',
       f'early_career_qual_{EARLY_CAREER}', 
#             f'early_career_recognition_EC3_RC3',
#         f'early_career_recognition_EC{EARLY_CAREER}_RC{RECOGNITION_CUT}',
       'gender_m', 'gender_f',  'intercept', 'r2', 'cohort_size'] #'gender_none', 

categorical_cols = ['gender']
num_splits = 5

In [166]:
feature_table = pd.DataFrame(cols_all, columns=['feature']).set_index('feature')
feature_table2 = pd.DataFrame(cols_all, columns=['feature']).set_index('feature')
feature_table3 = pd.DataFrame(cols_all, columns=['feature']).set_index('feature')

for year in cohort_start_years:
    credible_authors_year = credible_authors[credible_authors.start_year == year]

    X = credible_authors_year.copy()
    
    # Make dummy values for categorical columns
    gender_cols = pd.get_dummies(X[categorical_cols])
    # drop gender none?
    gender_cols.drop('gender_none', axis=1, inplace=True)
      
    #standardize cols_std
    standardized_cols = RobustScaler().fit_transform(X[cols_std])
    
    #combine
    H = pd.DataFrame(standardized_cols, index=X.index, columns=cols_std)
    H = H.join(gender_cols)

    y = X['h_index_increase_15_3']
    y2 = X['citation_increase_15_3']
    y3 = X['dropped_after_10'].astype(int)
    
    cv_dict = cross_validate(ElasticNetCV(cv=3), H, y, scoring='r2', cv=5, return_estimator=True, return_train_score=False)
    cv2_dict = cross_validate(ElasticNetCV(cv=3), H, y2, scoring='r2', cv=5, return_estimator=True, return_train_score=False)
    cv3_dict = cross_validate(LogisticRegressionCV(cv=3), H, y3, scoring="roc_auc", cv=5, return_estimator=True, return_train_score=False)

    score = np.mean(cv_dict['test_score'])
    score2 = np.mean(cv2_dict['test_score'])
    score3 = np.mean(cv3_dict['test_score'])
    
    net_coef = pd.DataFrame([es.coef_ for es in cv_dict['estimator']], columns=H.columns)
    net2_coef = pd.DataFrame([es.coef_ for es in cv2_dict['estimator']], columns=H.columns)
    net3_coef = pd.DataFrame([es.coef_[0] for es in cv3_dict['estimator']], columns=H.columns)
    
    net_intercept = np.mean([es.intercept_ for es in cv_dict['estimator']])
    net2_intercept = np.mean([es.intercept_ for es in cv2_dict['estimator']])
    net3_intercept = np.mean([es.intercept_ for es in cv3_dict['estimator']])
    
    net_coef_mean, net2_coef_mean, net3_coef_mean = net_coef.mean(), net2_coef.mean(), net3_coef.mean()
    net_coef_std, net2_coef_std, net3_coef_std = net_coef.std(), net2_coef.std(), net3_coef.std()
    
    net_coef_mean_std = list(zip(np.round(net_coef_mean.values,4), np.round(net_coef_std.values,4)))
    net2_coef_mean_std = list(zip(np.round(net2_coef_mean.values,4), np.round(net2_coef_std.values,4)))
    net3_coef_mean_std = list(zip(np.round(net3_coef_mean.values,4), np.round(net3_coef_std.values,4)))
    
    cohort_size = len(y2)
#     num_nonzero_coefs = sum(net2.coef_ != 0)
#     adj_score2 = 1 - (1-score2)*(cohort_size-1)/(cohort_size-num_nonzero_coefs-1)
    net_coef_mean_std.extend([net_intercept, score, cohort_size])
    net2_coef_mean_std.extend([net2_intercept, score2, cohort_size])
    net3_coef_mean_std.extend([net3_intercept, score3, cohort_size])
    
        
    year_data = pd.DataFrame(list(zip(np.append(H.columns, ['intercept', 'r2', 'cohort_size']), 
                                      net_coef_mean_std)), 
                             columns=['year', year]).set_index('year')
    year_data2 = pd.DataFrame(list(zip(np.append(H.columns, ['intercept', 'r2', 'cohort_size']), 
                                      net2_coef_mean_std)), 
                             columns=['year', year]).set_index('year')
    year_data3 = pd.DataFrame(list(zip(np.append(H.columns, ['intercept', 'r2', 'cohort_size']), 
                                      net3_coef_mean_std)),
                             columns=['year', year]).set_index('year')

    feature_table = feature_table.join(year_data)
    feature_table2 = feature_table2.join(year_data2)
    feature_table3 = feature_table3.join(year_data3)

#### Feature tables

In [167]:
results = feature_table.transpose()
#shorten column names
new_cols = dict(zip(results.columns, [col.replace('early_career', 'ec') for col in results.columns]))

results.rename(new_cols, axis='columns', inplace=True)
results.rename({'ec_coauthor_max_cit_3': 'ec_coauth_max_cit_3', 'ec_recognition_EC3_RC5':'ec_recog_EC3_RC5'}, axis='columns', inplace=True)

In [168]:
results2 = feature_table2.transpose()
results2.rename(new_cols, axis='columns', inplace=True)
results2.rename({'ec_coauthor_max_cit_3': 'ec_coauth_max_cit_3', 'ec_recognition_EC3_RC5':'ec_recog_EC3_RC5'}, axis='columns', inplace=True)

In [169]:
results3 = feature_table3.transpose()
results3.rename(new_cols, axis='columns', inplace=True)
results3.rename({'ec_coauthor_max_cit_3': 'ec_coauth_max_cit_3', 'ec_recognition_EC3_RC5':'ec_recog_EC3_RC5', 'r2':'aoc_roc'}, axis='columns', inplace=True)

In [170]:
results
# h index increase

feature,ec_degree_3,ec_prod_3,ec_coauth_max_cit_3,ec_qual_3,gender_m,gender_f,intercept,r2,cohort_size
1970,"(-0.004, 0.0089)","(0.3024, 0.0242)","(0.0043, 0.002)","(0.1322, 0.0118)","(0.0, 0.0)","(0.0, 0.0)",0.472821,0.252617,763
1971,"(0.0016, 0.0036)","(0.3842, 0.0405)","(0.0077, 0.0026)","(0.1014, 0.013)","(-0.0159, 0.0356)","(0.0, 0.0)",0.43754,0.234932,981
1972,"(-0.0529, 0.0083)","(0.3521, 0.0386)","(0.0209, 0.0035)","(0.1068, 0.018)","(0.0067, 0.0102)","(0.0, 0.0)",0.486,0.315058,1207
1973,"(0.0, 0.0)","(0.4173, 0.0426)","(0.0097, 0.002)","(0.1353, 0.0168)","(0.016, 0.0359)","(0.0, 0.0)",0.472783,0.301524,1400
1974,"(0.0004, 0.0011)","(0.4674, 0.0393)","(0.0078, 0.0012)","(0.0278, 0.0063)","(0.0403, 0.0437)","(0.0, 0.0)",0.382927,0.314848,1830
1975,"(0.0084, 0.0077)","(0.5271, 0.0182)","(0.0022, 0.0005)","(0.0372, 0.0079)","(0.0643, 0.0402)","(-0.0147, 0.0221)",0.394871,0.294794,1599
1976,"(0.0132, 0.0128)","(0.6149, 0.0447)","(0.0077, 0.002)","(0.0248, 0.0084)","(0.0233, 0.0201)","(-0.0078, 0.0174)",0.423446,0.251366,1996
1977,"(0.0021, 0.0079)","(0.4631, 0.0967)","(0.0122, 0.0042)","(0.0769, 0.0085)","(0.0537, 0.1201)","(-0.0151, 0.0338)",0.638291,0.182584,1929
1978,"(-0.067, 0.004)","(0.5237, 0.0362)","(0.0176, 0.0015)","(0.0883, 0.013)","(0.0264, 0.02)","(-0.2075, 0.0216)",0.546942,0.289341,1907
1979,"(-0.0204, 0.0209)","(0.6293, 0.0554)","(0.0207, 0.0029)","(0.0692, 0.0113)","(0.0129, 0.0287)","(0.0, 0.0)",0.623231,0.236591,2352
1980,"(-0.0001, 0.0003)","(0.6234, 0.0329)","(0.0077, 0.0042)","(0.0598, 0.0167)","(0.0301, 0.043)","(0.0205, 0.0369)",0.668138,0.217193,2458
1981,"(-0.0914, 0.0122)","(0.6845, 0.0242)","(0.0146, 0.0019)","(0.1045, 0.0164)","(0.0253, 0.0554)","(0.0, 0.0)",0.681165,0.290225,2817
1982,"(-0.0002, 0.0005)","(0.6207, 0.0402)","(0.0202, 0.0032)","(0.1018, 0.0327)","(0.0161, 0.0361)","(0.0, 0.0)",0.66965,0.238371,3262
1983,"(-0.0688, 0.0118)","(0.7128, 0.0476)","(0.0343, 0.0051)","(0.0833, 0.0259)","(0.0366, 0.0441)","(0.0103, 0.0229)",0.755218,0.248842,3721
1984,"(-0.0018, 0.0037)","(0.6112, 0.0508)","(0.0269, 0.0048)","(0.11, 0.0397)","(0.1018, 0.0736)","(0.0383, 0.0855)",0.629464,0.257429,4668
1985,"(-0.013, 0.019)","(0.632, 0.0402)","(0.0374, 0.005)","(0.1641, 0.0247)","(0.0406, 0.0722)","(0.0, 0.0)",0.718003,0.304231,4821
1986,"(-0.0179, 0.0399)","(0.6342, 0.0902)","(0.034, 0.0042)","(0.0551, 0.0052)","(0.0, 0.0)","(0.0, 0.0)",0.814835,0.236908,5857
1987,"(-0.0243, 0.0191)","(0.7124, 0.0227)","(0.0291, 0.0043)","(0.0956, 0.0064)","(0.0297, 0.0515)","(0.0, 0.0)",0.726164,0.297794,6624
1988,"(-0.1219, 0.0218)","(0.692, 0.0238)","(0.0252, 0.002)","(0.1176, 0.0051)","(0.1024, 0.0622)","(0.0, 0.0)",0.71483,0.300558,8364
1989,"(-0.1943, 0.0099)","(0.797, 0.0153)","(0.0495, 0.0022)","(0.036, 0.0115)","(0.0426, 0.059)","(0.0243, 0.0543)",0.681958,0.292627,9293
1990,"(-0.0679, 0.0132)","(0.7586, 0.0149)","(0.0223, 0.003)","(0.1029, 0.008)","(0.086, 0.0282)","(0.002, 0.0044)",0.667295,0.311618,10871
1991,"(-0.0688, 0.0206)","(0.6931, 0.0427)","(0.0294, 0.002)","(0.0572, 0.0056)","(0.0059, 0.0101)","(0.0, 0.0)",0.777442,0.286995,12430
1992,"(-0.0547, 0.0099)","(0.7055, 0.0171)","(0.0385, 0.0031)","(0.0722, 0.0081)","(0.0473, 0.0425)","(-0.011, 0.0177)",0.79541,0.259639,13769
1993,"(-0.0447, 0.0087)","(0.6842, 0.0218)","(0.0253, 0.0035)","(0.0994, 0.0143)","(0.0134, 0.0284)","(-0.01, 0.0224)",0.817158,0.295252,16379
1994,"(-0.0074, 0.0149)","(0.7003, 0.0184)","(0.0157, 0.0021)","(0.0905, 0.0065)","(0.0328, 0.0488)","(0.0, 0.0)",0.853669,0.277662,18423
1995,"(-0.075, 0.0076)","(0.7333, 0.0105)","(0.0334, 0.0026)","(0.0616, 0.0057)","(0.0423, 0.0227)","(0.0, 0.0)",0.843905,0.266673,19223
1996,"(-0.0698, 0.0059)","(0.7092, 0.0082)","(0.0291, 0.004)","(0.0642, 0.0057)","(0.0041, 0.0093)","(0.0, 0.0)",0.900513,0.270892,20823
1997,"(-0.0533, 0.0043)","(0.6946, 0.0156)","(0.0268, 0.003)","(0.0811, 0.0027)","(0.007, 0.01)","(0.0, 0.0)",0.9259,0.276352,23263
1998,"(-0.0752, 0.0049)","(0.7928, 0.008)","(0.0347, 0.0026)","(0.0447, 0.0144)","(-0.021, 0.0202)","(-0.0965, 0.0505)",0.930546,0.27896,26813
1999,"(-0.0637, 0.0083)","(0.7675, 0.0114)","(0.0524, 0.0026)","(0.0518, 0.0069)","(-0.0332, 0.0437)","(-0.107, 0.0697)",0.973118,0.297171,29225
2000,"(-0.0408, 0.0077)","(0.7814, 0.0029)","(0.052, 0.0028)","(0.0566, 0.0038)","(-0.0462, 0.0328)","(-0.1973, 0.0539)",1.04421,0.333637,33591
2001,"(-0.0384, 0.004)","(0.748, 0.0092)","(0.043, 0.0037)","(0.0461, 0.0068)","(-0.0314, 0.0257)","(-0.1544, 0.0443)",1.03979,0.304339,37405
2002,"(-0.0352, 0.0068)","(0.6973, 0.0063)","(0.0498, 0.0055)","(0.0534, 0.0023)","(-0.0496, 0.0352)","(-0.1839, 0.0486)",1.03777,0.313939,41432

In [171]:
results2
# citation increase

feature,ec_degree_3,ec_prod_3,ec_coauth_max_cit_3,ec_qual_3,gender_m,gender_f,intercept,r2,cohort_size
1970,"(-0.5116, 0.344)","(4.0202, 0.8659)","(0.0482, 0.0558)","(7.4517, 0.5224)","(-0.0246, 0.0549)","(0.1002, 0.2141)",4.31868,0.3442,763
1971,"(-1.9881, 0.5748)","(7.1597, 1.2665)","(0.6844, 0.1121)","(7.5129, 0.5958)","(-1.2083, 1.1362)","(0.3777, 0.35)",1.6099,0.326153,981
1972,"(-2.8597, 0.2392)","(4.1514, 0.5967)","(1.4308, 0.2656)","(5.8608, 0.2309)","(0.0726, 0.1623)","(0.0013, 0.0028)",3.29327,0.517418,1207
1973,"(-0.7535, 0.3486)","(6.6863, 0.8308)","(0.3214, 0.0893)","(8.8849, 0.5057)","(0.0082, 0.4009)","(0.0, 0.0)",2.00213,0.444992,1400
1974,"(-0.514, 0.2149)","(4.5008, 0.6308)","(0.1828, 0.0464)","(4.2446, 0.3923)","(0.0813, 0.0784)","(0.0, 0.0)",1.94828,0.492613,1830
1975,"(-0.131, 0.141)","(7.308, 0.6714)","(0.038, 0.0362)","(5.967, 0.4829)","(0.4757, 0.3965)","(0.0, 0.0)",2.09648,0.599018,1599
1976,"(-1.3163, 0.6752)","(7.6514, 1.449)","(0.3894, 0.1574)","(4.5299, 0.275)","(0.0, 0.0)","(0.0, 0.0)",3.81921,0.573584,1996
1977,"(-0.7737, 0.7843)","(8.6916, 1.6313)","(0.6635, 0.3618)","(8.1059, 0.2889)","(0.2466, 1.0254)","(0.1069, 0.2199)",6.12134,0.355141,1929
1978,"(-2.7437, 0.1911)","(8.2188, 0.7062)","(0.7365, 0.0994)","(7.779, 0.4104)","(0.0542, 0.1212)","(-0.0416, 0.0922)",3.45566,0.454034,1907
1979,"(-1.9368, 0.4899)","(12.47, 1.537)","(0.6307, 0.1528)","(7.5026, 0.3839)","(0.6993, 0.5864)","(-0.1971, 0.319)",6.84644,0.364597,2352
1980,"(-0.182, 0.6491)","(14.4976, 0.8277)","(0.4825, 0.185)","(7.782, 0.5678)","(-0.2862, 0.2593)","(0.0, 0.0)",5.33264,0.350184,2458
1981,"(-3.6391, 0.3351)","(15.1892, 1.2256)","(0.5545, 0.1256)","(9.8824, 0.8486)","(0.73, 0.7498)","(-0.129, 0.2884)",8.44304,0.344591,2817
1982,"(-2.228, 0.153)","(14.6155, 1.1582)","(0.78, 0.1051)","(10.6461, 1.2632)","(0.4866, 0.118)","(-0.0585, 0.1309)",7.60252,0.38641,3262
1983,"(-3.3457, 0.8302)","(15.8694, 1.7813)","(1.723, 0.5086)","(10.6763, 0.8069)","(0.166, 0.2836)","(0.0, 0.0)",10.0692,0.320434,3721
1984,"(-1.8305, 0.6206)","(10.2755, 2.4131)","(1.2245, 0.1824)","(11.8433, 1.1682)","(1.1506, 0.9752)","(0.2964, 0.4787)",8.5027,0.415739,4668
1985,"(-3.1992, 0.9433)","(13.3965, 1.4041)","(1.7409, 0.3135)","(18.0839, 2.0248)","(1.0036, 0.7202)","(-0.1619, 0.3621)",9.02574,0.389855,4821
1986,"(-1.9888, 0.4685)","(17.6637, 1.6811)","(1.6781, 0.2956)","(12.7978, 0.1502)","(-0.0733, 0.1638)","(0.2111, 0.2956)",9.93742,0.452556,5857
1987,"(-2.9238, 0.4291)","(17.1024, 0.7091)","(1.7439, 0.1712)","(14.6671, 0.3436)","(0.031, 0.3322)","(0.0, 0.0)",7.77971,0.456236,6624
1988,"(-4.7438, 0.5104)","(16.1719, 0.7858)","(1.5339, 0.2267)","(15.4295, 0.7205)","(1.7927, 0.6101)","(-0.0117, 0.0262)",6.59617,0.438796,8364
1989,"(-4.6576, 0.3773)","(17.8811, 0.8855)","(2.2045, 0.1983)","(12.7266, 0.222)","(0.2114, 0.1761)","(0.0, 0.0)",8.48883,0.499063,9293
1990,"(-1.9437, 0.4271)","(17.8042, 0.8486)","(1.266, 0.1379)","(15.4098, 0.4851)","(1.6782, 0.5919)","(-0.093, 0.208)",6.17447,0.416901,10871
1991,"(-3.0273, 0.4432)","(17.7505, 1.0257)","(2.1223, 0.254)","(13.8891, 0.5726)","(-0.0067, 0.015)","(0.1413, 0.1985)",6.92547,0.410795,12430
1992,"(-4.4208, 0.7964)","(19.193, 1.2596)","(3.4197, 0.6757)","(15.8588, 0.5764)","(0.5086, 0.4799)","(-0.0327, 0.0448)",8.84326,0.29973,13769
1993,"(-3.142, 0.8209)","(13.4567, 2.07)","(3.4376, 0.6807)","(19.5781, 1.0032)","(-0.0953, 0.2132)","(-0.0371, 0.083)",8.9635,0.405594,16379
1994,"(-1.1378, 0.8969)","(20.5988, 0.7081)","(1.7275, 0.2694)","(17.8571, 0.3678)","(1.5484, 0.5854)","(-0.0473, 0.1058)",10.1216,0.351983,18423
1995,"(-5.7158, 0.183)","(17.9931, 0.8438)","(5.0343, 0.3095)","(16.9598, 0.8096)","(0.7053, 0.3665)","(-0.0104, 0.0233)",8.96579,0.357891,19223
1996,"(-3.451, 0.3374)","(20.7509, 0.9346)","(2.8836, 0.3377)","(17.8999, 0.6048)","(0.0521, 0.0761)","(-0.0241, 0.0338)",11.193,0.408463,20823
1997,"(-2.9553, 0.3244)","(17.9228, 1.4337)","(2.0851, 0.3833)","(20.8124, 0.6629)","(0.0299, 0.0669)","(0.0, 0.0)",11.8578,0.419678,23263
1998,"(-1.7233, 0.4837)","(21.1449, 0.3903)","(2.6178, 0.1242)","(17.934, 1.4285)","(0.0, 0.0)","(0.0, 0.0)",14.5365,0.461132,26813
1999,"(-2.4534, 0.3352)","(20.1795, 0.5886)","(4.6585, 0.3812)","(19.2075, 0.7228)","(0.0, 0.0)","(0.0, 0.0)",14.7511,0.474374,29225
2000,"(-2.5222, 0.4622)","(20.2784, 0.7667)","(5.4429, 0.4977)","(21.6796, 0.479)","(0.0, 0.0)","(0.0, 0.0)",13.62,0.50282,33591
2001,"(-1.8809, 0.3983)","(20.6203, 0.5497)","(3.7409, 0.4789)","(19.3175, 0.5984)","(0.0, 0.0)","(-0.022, 0.0492)",17.1273,0.461901,37405
2002,"(-2.5026, 0.554)","(21.0555, 0.2149)","(4.5187, 0.8883)","(21.5427, 0.2172)","(-0.0109, 0.0193)","(-0.0483, 0.0867)",14.2677,0.476282,41432

In [172]:
results3
# coefficients are not exponentiated
# positive means bigger change to drop

feature,ec_degree_3,ec_prod_3,ec_coauth_max_cit_3,ec_qual_3,gender_m,gender_f,intercept,aoc_roc,cohort_size
1970,"(0.0608, 0.0449)","(-0.6923, 0.1367)","(-0.0001, 0.0032)","(-0.1433, 0.0226)","(-0.2291, 0.1632)","(-0.1853, 0.2779)",1.66297,0.730602,763
1971,"(0.1298, 0.0292)","(-1.1117, 0.1344)","(0.0031, 0.0073)","(-0.0535, 0.0181)","(-0.1881, 0.1159)","(-0.0364, 0.1229)",1.52003,0.741292,981
1972,"(0.3172, 0.0326)","(-0.7064, 0.0758)","(-0.023, 0.0089)","(-0.1066, 0.0194)","(-0.2717, 0.0913)","(-0.0493, 0.1621)",1.46119,0.728252,1207
1973,"(0.14, 0.0453)","(-0.7742, 0.0628)","(-0.0089, 0.0014)","(-0.1058, 0.0526)","(-0.1278, 0.1041)","(0.0753, 0.1249)",1.33548,0.713857,1400
1974,"(-0.0076, 0.0282)","(-0.8815, 0.0602)","(-0.0039, 0.0007)","(-0.0525, 0.0095)","(-0.1, 0.0831)","(0.0682, 0.106)",1.70144,0.730153,1830
1975,"(0.0586, 0.0182)","(-1.013, 0.0603)","(0.0028, 0.002)","(-0.0172, 0.0153)","(-0.2047, 0.0483)","(-0.0108, 0.0934)",1.50469,0.761717,1599
1976,"(-0.0207, 0.0181)","(-0.8526, 0.0517)","(-0.0049, 0.0022)","(-0.013, 0.0054)","(-0.2954, 0.0798)","(0.0622, 0.1808)",1.60503,0.71438,1996
1977,"(0.0146, 0.0281)","(-1.0203, 0.0267)","(-0.0019, 0.0038)","(-0.0426, 0.0341)","(-0.3936, 0.0935)","(0.0285, 0.1263)",1.46868,0.735793,1929
1978,"(0.0764, 0.0229)","(-0.8347, 0.0566)","(-0.0142, 0.0031)","(0.008, 0.015)","(-0.3082, 0.0385)","(0.3048, 0.0461)",1.36581,0.709366,1907
1979,"(0.0985, 0.0207)","(-0.9966, 0.0666)","(-0.0191, 0.0045)","(-0.0567, 0.015)","(-0.2551, 0.11)","(-0.1565, 0.1245)",1.41956,0.738867,2352
1980,"(0.1023, 0.0208)","(-0.8776, 0.0381)","(-0.0034, 0.001)","(-0.012, 0.0046)","(-0.2683, 0.0441)","(0.138, 0.2121)",1.2511,0.718709,2458
1981,"(0.1485, 0.0087)","(-0.9423, 0.0616)","(-0.0106, 0.0013)","(-0.0687, 0.0096)","(-0.2106, 0.0858)","(0.2296, 0.1418)",1.35645,0.742268,2817
1982,"(0.0187, 0.0141)","(-0.8593, 0.0748)","(-0.0082, 0.0028)","(-0.0796, 0.0141)","(-0.2236, 0.1082)","(-0.2243, 0.1275)",1.34588,0.726578,3262
1983,"(0.0907, 0.01)","(-0.8988, 0.0396)","(-0.0203, 0.0082)","(-0.065, 0.0382)","(-0.332, 0.0747)","(-0.4559, 0.112)",1.32312,0.730282,3721
1984,"(0.074, 0.0097)","(-0.9273, 0.0585)","(-0.0153, 0.0057)","(-0.0743, 0.0084)","(-0.2903, 0.1262)","(-0.2285, 0.1144)",1.32371,0.744611,4668
1985,"(0.081, 0.0178)","(-0.9361, 0.0177)","(-0.0177, 0.0029)","(-0.0558, 0.0043)","(-0.3267, 0.0476)","(0.036, 0.0806)",1.28987,0.74932,4821
1986,"(0.1976, 0.0245)","(-0.8674, 0.0126)","(-0.0177, 0.0029)","(-0.0058, 0.0036)","(-0.2214, 0.0821)","(-0.0352, 0.0372)",1.1557,0.721004,5857
1987,"(0.1186, 0.0242)","(-0.762, 0.0853)","(-0.0087, 0.0043)","(-0.065, 0.0091)","(-0.1264, 0.065)","(-0.0547, 0.0798)",1.10133,0.723308,6624
1988,"(0.1308, 0.0194)","(-0.7398, 0.0136)","(-0.0078, 0.0024)","(-0.0398, 0.0074)","(-0.1744, 0.1092)","(0.0621, 0.0556)",1.11904,0.71122,8364
1989,"(0.2215, 0.0342)","(-0.8343, 0.0517)","(-0.0251, 0.0017)","(-0.007, 0.0053)","(-0.1167, 0.078)","(-0.1481, 0.0794)",1.2096,0.72232,9293
1990,"(0.0554, 0.0179)","(-0.7317, 0.0441)","(-0.0069, 0.0035)","(-0.0369, 0.0049)","(-0.1501, 0.0518)","(0.0612, 0.0699)",1.19821,0.727608,10871
1991,"(0.096, 0.0173)","(-0.7316, 0.0327)","(-0.0056, 0.0018)","(-0.0272, 0.004)","(-0.1212, 0.0508)","(-0.0286, 0.0583)",1.15687,0.721643,12430
1992,"(0.0578, 0.0204)","(-0.6676, 0.0278)","(-0.0115, 0.0017)","(-0.0072, 0.0055)","(-0.1182, 0.0671)","(0.0397, 0.0615)",1.1303,0.713962,13769
1993,"(0.083, 0.0137)","(-0.6503, 0.0125)","(-0.0003, 0.001)","(-0.0191, 0.0031)","(-0.1241, 0.0641)","(0.0975, 0.0333)",1.13907,0.714701,16379
1994,"(0.0399, 0.0159)","(-0.6004, 0.0179)","(-0.0019, 0.0012)","(-0.0223, 0.0031)","(-0.0468, 0.0559)","(0.1059, 0.0569)",1.08863,0.70398,18423
1995,"(0.0535, 0.0071)","(-0.5934, 0.0229)","(-0.0085, 0.0023)","(-0.0054, 0.0022)","(-0.0711, 0.0227)","(-0.0177, 0.0505)",1.10335,0.698751,19223
1996,"(0.0924, 0.0039)","(-0.5852, 0.005)","(-0.0074, 0.0012)","(-0.0088, 0.0022)","(-0.0631, 0.0432)","(0.0838, 0.0433)",1.04607,0.699305,20823
1997,"(0.0664, 0.0071)","(-0.6048, 0.0135)","(-0.0062, 0.0006)","(-0.0098, 0.0016)","(-0.0353, 0.0347)","(0.0464, 0.0509)",1.0561,0.704304,23263
1998,"(0.0862, 0.0064)","(-0.6251, 0.022)","(-0.0049, 0.0011)","(-0.0137, 0.0031)","(-0.0295, 0.0381)","(0.1777, 0.0439)",1.01216,0.714283,26813
1999,"(0.0598, 0.0068)","(-0.6304, 0.0126)","(-0.0111, 0.0023)","(-0.0142, 0.0021)","(0.0512, 0.0423)","(0.1524, 0.0504)",0.949946,0.714344,29225
2000,"(0.015, 0.0047)","(-0.5185, 0.0091)","(-0.0094, 0.0004)","(-0.0172, 0.0021)","(-0.0106, 0.0206)","(0.0844, 0.0125)",0.865331,0.72201,33591
2001,"(0.0189, 0.0087)","(-0.5381, 0.0349)","(-0.008, 0.0015)","(-0.0135, 0.0048)","(0.0103, 0.0196)","(0.1331, 0.0596)",0.886184,0.717979,37405
2002,"(0.0304, 0.0019)","(-0.5217, 0.0061)","(-0.0055, 0.0016)","(-0.0118, 0.0025)","(0.0579, 0.0458)","(0.2275, 0.0479)",0.872896,0.716414,41432

#### predictor diffs

In [ ]:
h_index = feature_table.transpose().copy()
citations = feature_table2.transpose().copy()

In [ ]:
plt.plot(h_index['r2'], label='Increase H index')
plt.plot(citations['r2'], label='Increase Citations')
print("Average difference in r squared", sum(citations['r2']-h_index['r2'])/len(h_index['r2']))
# quality was used as a feature!
plt.legend()
plt.show()

#### gender diffs

In [ ]:
# gender coefs
plt.plot(results3['gender_m'], label="Male")
plt.plot(results3['gender_f'], label="Female")
plt.legend()
plt.show()

In [ ]:
plt.plot(results3['gender_m'] - results3['gender_f'], label="Male-Female diff")
plt.plot(results.index ,np.zeros(len(results)))
plt.legend()
plt.show()

#### cohort size diffs

In [ ]:
fig, ax1 = plt.subplots()
# ax1.plot(results['r2'], label='r2')
ax1.plot(results['adj_r2'], label='adjusted r2', color='C2')
ax1.set_ylim([0,1])
ax1.set_xlabel('Years')
ax1.set_ylabel('R squared', color='C2')
ax1.legend(loc=2)

ax2 = ax1.twinx()
ax2.plot(results['cohort_size'], label='Cohort size', color='C3')
ax2.set_ylabel('Cohort size', color='C3')
ax2.legend(loc=4)
plt.show()

#### cheating diffs

In [ ]:
no_cheating = feature_table2.transpose().copy()

In [ ]:
cheat_RC5 = feature_table2.transpose().copy()

In [ ]:
cheat_quality = feature_table2.transpose().copy()

In [ ]:
# How does removing the quality affect the r squared?
plt.plot(with_quality['adj_r2'], label='With quality')
plt.plot(cheat_RC5['adj_r2'], label='With recognition year 5')
plt.plot(no_cheating['adj_r2'], label='No cheating')
print("Average difference in r squared", sum(with_quality['adj_r2']-no_cheating['adj_r2'])/len(cheat_quality))
print(np.mean)
plt.legend()
plt.show()

avg = sum(cheat_quality['adj_r2']-no_cheating['adj_r2'])/len(no_cheating)
plt.plot(cheat_quality['adj_r2']-no_cheating['adj_r2'], label='Difference')
plt.plot(no_cheating.index, [avg]*len(no_cheating), label='Average diff')
plt.title("Difference between quality(15y) and recognition(3y)")
plt.legend()
plt.show()

#### scaler diffs

In [ ]:
std_scaler = feature_table2.transpose().copy()

In [ ]:
rob_scaler = feature_table2.transpose().copy()

In [ ]:
# How does changing the scaler affect the r squared?
plt.plot(std_scaler['adj_r2'], label='Std')
plt.plot(rob_scaler['adj_r2'], label='Rob')
print("Average difference in r squared", sum(std_scaler['adj_r2']-rob_scaler['adj_r2'])/len(rob_scaler))
plt.legend()
plt.show()
# almost no difference

avg = sum(std_scaler['adj_r2']-rob_scaler['adj_r2'])/len(std_scaler)
plt.plot(std_scaler['adj_r2']-rob_scaler['adj_r2'], label='Difference')
plt.plot(std_scaler.index, [avg]*len(std_scaler), label='Average diff')
plt.legend()
plt.show()

In [ ]:
# feature_table3.transpose()

### Best feature selection

In [ ]:
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression, RFE, RFECV
from collections import defaultdict

In [ ]:
def show_kbest(data_frame, target, linear_rel=True, k=4):
    """
    Selecting K-Best features for classification
    :param data_frame: A pandas dataFrame with the training data
    :param target: target variable name in DataFrame
    :param k: desired number of features from the data
    :returns feature_scores: scores for each feature in the data as 
    pandas DataFrame
    """
    scores = []
    if linear_rel == True: 
        feat_selector = SelectKBest(f_regression, k=k)
        col_name = "F Score"
    else:
        feat_selector = SelectKBest(mutual_info_regression, k=k)
        col_name = "Mutual Information"
    
    feat_selector = feat_selector.fit(data_frame, target)
    feat_scores = pd.DataFrame()
    feat_scores[col_name] = feat_selector.scores_
    feat_scores["P Value"] = feat_selector.pvalues_
    feat_scores["Support"] = feat_selector.get_support()
    feat_scores["Attribute"] = data_frame.columns
    
    return feat_scores 

def get_features_rfe(data_frame, target, model,k=5):
    """
    Returns list of features (k specified) selected using RFE for
    :param data_frame: A pandas dataFrame with features and labels
    :param k: top k features to select  
    :returns list: most relevant features 
    """
    X = data_frame
    y = target
    selector = RFE(model, k, step=1)
    selector = selector.fit(X, y)
#     print(selector.support_)
    df = pd.DataFrame({
        "feature": X.columns,
        "support": selector.support_
    })
    return df

def get_features_rfecv(data_frame, target, model, cv=3):
    """
    Returns list of features (k specified) selected using RFE for
    :param data_frame: A pandas dataFrame with features and labels
    :param k: top k features to select  
    :returns list: most relevant features 
    """
    X = data_frame
    y = target
    selector = RFECV(model, step=1, cv=cv)
    selector = selector.fit(X, y)
#     print(selector.support_)
    df = pd.DataFrame({
        "feature": X.columns,
        "support": selector.support_
    })
    return df

In [ ]:
years = credible_authors.start_year.unique()
years = sorted(years)

In [ ]:
df = credible_authors.copy()

In [ ]:
categorical_cols = ['gender']

for col in categorical_cols:
    df = df.join(pd.get_dummies(df[categorical_cols]))

df.drop(categorical_cols, axis=1, inplace=True)

#### Show k best - F regression or mutual information

In [ ]:
linear = True
# true - fregression
# false - mutual info

In [ ]:
params = []
for year in years:
    df_year = df[df.start_year == year]
    df_year = df_year.drop('start_year', axis=1)
#     for EARLY_CAREER in EARLY_CAREER_LEN_LIST:
#         for RECOGNITION_CUT in RECOGNITION_CUT_OFF_LIST:
#             if RECOGNITION_CUT < EARLY_CAREER: continue
    EARLY_CAREER = 3
    RECOGNITION_CUT= 5
    X_year = df_year[['max_absence-0-3', 'avg_absence-0-3', 
           'gender_f', 'gender_m', 'gender_none',
           f'early_career_degree_{EARLY_CAREER}', 
           f'early_career_prod_{EARLY_CAREER}',
           f'early_career_qual_{EARLY_CAREER}', f'early_career_recognition_EC{EARLY_CAREER}_RC{RECOGNITION_CUT}']]
    y_year = df_year['succ_after_15y']
    params.append(show_kbest(X_year, y_year, linear, 5))

In [ ]:
params[0]

In [ ]:
selected_f = defaultdict(int)
for param in params:
    selected = param[param.Support == True]['Attribute'].values
    selected_f['total'] += 1
#     print(selected)
    for select in selected:
        selected_f[select] += 1

In [ ]:
selected_f

#### RFE

In [ ]:
params_rfe = []
for year in years:
    df_year = df[df.start_year == year]
    df_year = df_year.drop('start_year', axis=1)
#     for EARLY_CAREER in EARLY_CAREER_LEN_LIST:
#         for RECOGNITION_CUT in RECOGNITION_CUT_OFF_LIST:
#             if RECOGNITION_CUT < EARLY_CAREER: continue
    EARLY_CAREER = 3
    RECOGNITION_CUT= 5
    X_year = df_year[[
        #'max_absence-0-3', 'avg_absence-0-3', 
           'gender_f', 'gender_m', 'gender_none',
           f'early_career_degree_{EARLY_CAREER}', 
           f'early_career_prod_{EARLY_CAREER}',
           f'early_career_qual_{EARLY_CAREER}', f'early_career_recognition_EC{EARLY_CAREER}_RC{RECOGNITION_CUT}']]
    y_year = df_year['succ_after_15y']
    params_rfe.append(get_features_rfe(X_year, y_year, LinearRegression(),k=5))

In [ ]:
selected_f = defaultdict(int)
for param in params_rfe:
    selected = param[param.support == True]['feature'].values
    selected_f['total'] += 1
#     print(selected)
    for select in selected:
        selected_f[select] += 1

In [ ]:
selected_f

#### RFE CV

In [ ]:
params_rfecv = []
for year in years:
    df_year = df[df.start_year == year]
    df_year = df_year.drop('start_year', axis=1)
#     for EARLY_CAREER in EARLY_CAREER_LEN_LIST:
#         for RECOGNITION_CUT in RECOGNITION_CUT_OFF_LIST:
#             if RECOGNITION_CUT < EARLY_CAREER: continue
    EARLY_CAREER = 3
    RECOGNITION_CUT= 5
    X_year = df_year[['max_absence-0-3', 'avg_absence-0-3', 
           'gender_f', 'gender_m', 'gender_none',
           f'early_career_degree_{EARLY_CAREER}', 
           f'early_career_prod_{EARLY_CAREER}',
           f'early_career_qual_{EARLY_CAREER}', f'early_career_recognition_EC{EARLY_CAREER}_RC{RECOGNITION_CUT}']]
    y_year = df_year['succ_after_15y']
    params_rfecv.append(get_features_rfecv(X_year, y_year, LinearRegression(),cv=3))

In [ ]:
selected_f = defaultdict(int)
for param in params_rfecv:
    selected = param[param.support == True]['feature'].values
    selected_f['total'] += 1
#     print(selected)
    for select in selected:
        selected_f[select] += 1

In [ ]:
selected_f

### Null experiment

In [ ]:
citations_per_year = pd.read_csv('derived-data/paper-citation-count.csv', header=None, names=['pub_id', 'cit_count'])

In [ ]:
publications = pd.read_csv('derived-data/author-publications.csv')

In [ ]:
# publications.sort_values(by='author').head()

In [ ]:
# remove authors by career_len, and add start year
publications = publications.merge(credible_authors[['author', 'start_year']], on='author')

In [ ]:
publications = publications[publications.year <= publications.year + MAX_CAREER_LEN]

In [ ]:
# citations_per_year.head()

In [ ]:
publications['pub_id'] = shuffle(publications['pub_id']).reset_index(drop=True)

In [ ]:
# publications.sort_values(by='author').head()

In [ ]:
publications = publications.merge(citations_per_year, on='pub_id', how='left')
publications = publications.fillna(0)

In [ ]:
publications.sort_values(by='author').head(20)

In [ ]:
credible_authors[credible_authors.author == "a min tjoa"]['succ_after_15y']

In [ ]:
credible_authors.set_index('author', inplace=True)

In [ ]:
credible_authors['succ_shuffled'] = publications.groupby('author')['cit_count'].sum()

In [ ]:
credible_authors[['succ_shuffled', 'succ_after_15y']].head()

In [ ]:
credible_authors.columns