In [15]:
import pandas as pd

import calculate

In [2]:
authorCitationsData = pd.read_csv('derived-data/authors-perYear-citations.csv')
authorCitationsData.rename(columns={'year_cit':'year', 'cit_count':'num_cit'}, inplace=True)

In [3]:
authorPublicationData = pd.read_csv('derived-data/author-publications.csv')
author_year_numPub = authorPublicationData.groupby(['author', 'year'])['pub_id'].count().reset_index()
author_year_numPub = author_year_numPub.rename(columns={'pub_id':'num_pub'})

In [4]:
authorStartEndCareerData = pd.read_csv('./derived-data/authors-scientific-extended.csv')

In [5]:
authorCitationsData = authorCitationsData.merge(authorStartEndCareerData[['author', 'start_year', 'gender']], on='author')

In [7]:
haiko_df = authorCitationsData.merge(author_year_numPub, on=['author', 'year'], how='outer')

In [8]:
haiko_df['num_cit'] = haiko_df['num_cit'].fillna(0)
haiko_df['num_pub'] = haiko_df['num_pub'].fillna(0)

In [9]:
haiko_df['career_age'] = haiko_df['year'] - haiko_df['start_year'] + 1

In [11]:
haiko_df.sample(10)

,author,year,num_cit,start_year,gender,num_pub,career_age
2413458,huayun zhang,2012,1.0,2002.0,none,0.0,11.0
2259039,hasier iñan,2012,1.0,2012.0,none,1.0,1.0
3986121,markus arns,2011,4.0,2009.0,m,0.0,3.0
2992823,john m. mellor-crummey,2004,91.0,1989.0,none,6.0,16.0
5262336,robert young,2010,10.0,1991.0,none,2.0,20.0
2856292,jianlong chang,2016,1.0,2008.0,none,0.0,9.0
639618,benjamin hiller,2015,7.0,2004.0,none,2.0,12.0
5592853,shahrul azman noah,2007,2.0,1993.0,m,1.0,15.0
4291139,mike coutts,2014,1.0,2002.0,none,0.0,13.0
6695348,yasuyoshi kaneko,2017,1.0,1997.0,m,0.0,21.0

In [19]:
haiko_df[haiko_df.author == 'john m. mellor-crummey']

,year,author,num_cit,start_year,gender,num_pub,career_age,cum_num_cit,cum_num_pub
184603,1989,john m. mellor-crummey,2.0,1989.0,none,3.0,1.0,2.0,3.0
223993,1990,john m. mellor-crummey,4.0,1989.0,none,2.0,2.0,6.0,5.0
274734,1991,john m. mellor-crummey,22.0,1989.0,none,3.0,3.0,28.0,8.0
317916,1992,john m. mellor-crummey,15.0,1989.0,none,1.0,4.0,43.0,9.0
373814,1993,john m. mellor-crummey,27.0,1989.0,none,2.0,5.0,70.0,11.0
428109,1994,john m. mellor-crummey,33.0,1989.0,none,3.0,6.0,103.0,14.0
539317,1995,john m. mellor-crummey,30.0,1989.0,none,2.0,7.0,133.0,16.0
613559,1996,john m. mellor-crummey,20.0,1989.0,none,0.0,8.0,153.0,16.0
669012,1997,john m. mellor-crummey,35.0,1989.0,none,1.0,9.0,188.0,17.0
831177,1998,john m. mellor-crummey,43.0,1989.0,none,4.0,10.0,231.0,21.0
865173,1999,john m. mellor-crummey,27.0,1989.0,none,2.0,11.0,258.0,23.0
1076103,2000,john m. mellor-crummey,48.0,1989.0,none,2.0,12.0,306.0,25.0
1223314,2001,john m. mellor-crummey,43.0,1989.0,none,7.0,13.0,349.0,32.0
1303097,2002,john m. mellor-crummey,64.0,1989.0,none,5.0,14.0,413.0,37.0
1502664,2003,john m. mellor-crummey,93.0,1989.0,none,3.0,15.0,506.0,40.0
1775523,2004,john m. mellor-crummey,91.0,1989.0,none,6.0,16.0,597.0,46.0
2037488,2005,john m. mellor-crummey,140.0,1989.0,none,12.0,17.0,737.0,58.0
2340018,2006,john m. mellor-crummey,120.0,1989.0,none,3.0,18.0,857.0,61.0
2692609,2007,john m. mellor-crummey,150.0,1989.0,none,2.0,19.0,1007.0,63.0
3192913,2008,john m. mellor-crummey,111.0,1989.0,none,2.0,20.0,1118.0,65.0
3746205,2009,john m. mellor-crummey,127.0,1989.0,none,5.0,21.0,1245.0,70.0
4040652,2010,john m. mellor-crummey,147.0,1989.0,none,4.0,22.0,1392.0,74.0
4757666,2011,john m. mellor-crummey,149.0,1989.0,none,3.0,23.0,1541.0,77.0
5294913,2012,john m. mellor-crummey,150.0,1989.0,none,2.0,24.0,1691.0,79.0
5990144,2013,john m. mellor-crummey,154.0,1989.0,none,7.0,25.0,1845.0,86.0
6761909,2014,john m. mellor-crummey,168.0,1989.0,none,7.0,26.0,2013.0,93.0
7090968,2015,john m. mellor-crummey,143.0,1989.0,none,3.0,27.0,2156.0,96.0
8315519,2016,john m. mellor-crummey,175.0,1989.0,none,7.0,28.0,2331.0,103.0
8865120,2017,john m. mellor-crummey,57.0,1989.0,none,0.0,29.0,2388.0,103.0

In [14]:
haiko_df.columns

Index(['author', 'year', 'num_cit', 'start_year', 'gender', 'num_pub',
       'career_age'],
      dtype='object')

In [16]:
# optional - cumulative numbers
haiko_df = calculate.calculate_cumulative_for_authors(haiko_df, 'num_cit')

In [18]:
haiko_df = calculate.calculate_cumulative_for_authors(haiko_df, 'num_pub')