In [1]:
import pandas as pd

In [38]:
author_order = pd.read_csv("data/pub_authors_order_2017.tsv", sep='\t')

In [50]:
author_order = author_order.rename({'title':'year', 'year': 'title'}, axis='columns').drop('title', axis='columns')

In [51]:
print(author_order.shape)
author_order.drop_duplicates(subset='pub_id', inplace=True)
print(author_order.shape)
print(author_order.columns)

(3079838, 3)
(3078230, 3)

In [54]:
# calculate the number of authors
author_order['num_authors'] = author_order['authors'].apply(lambda x: len(x.split(',')))

### How many papers have alphabetical sorting by last name?
If multiple last names are present, i use the most last one

In [55]:
def is_alpha(auth_string):
    auth_list = auth_string.split(',')
    auth_all_names = [auth_full_name.split(' ') for auth_full_name in auth_list]
    auth_last_names = [name[-1] if not name[-1].isdigit() else name[-2] for name in auth_all_names]
#     print(auth_last_names)
    if sorted(auth_last_names) == auth_last_names: return True
    return False

In [56]:
author_order['is_alpha'] = author_order['authors'].apply(lambda x: is_alpha(x))

In [57]:
author_order[author_order['num_authors'] > 1]['is_alpha'].value_counts(normalize=True)

False    0.686127
True     0.313873
Name: is_alpha, dtype: float64

In [58]:
# a = author_order['authors'].iloc[9]
# print(a)
# print(is_alpha(a))

ankita brahmachari,priya singh,avdhesh garg,dipankar das
False

Seventy percent of data is not ordered alphabetically

### Find the first author of the paper

In [59]:
author_order['first_author'] = author_order['authors'].apply(lambda x: x.split(',')[0])

### Save derived data

In [62]:
print(author_order.shape)
author_order.drop_duplicates(subset='pub_id', inplace=True)
print(author_order.shape)
print(author_order.columns)

(3078230, 6)
(3078230, 6)
Index(['pub_id', 'year', 'authors', 'num_authors', 'is_alpha', 'first_author'], dtype='object')

In [63]:
author_order.to_csv('derived-data/publication_authors_order_2017.csv', index=False)

In [64]:
author_order.head()

,pub_id,year,authors,num_authors,is_alpha,first_author
0,001c58d3-26ad-46b3-ab3a-c1e557d16821,2011,"gareth beale,graeme earl",2,True,gareth beale
1,001c8744-73c4-4b04-9364-22d31a10dbf1,2009,"altaf hossain,faisal zaman,m. nasser,m. mufakh...",4,False,altaf hossain
2,00338203-9eb3-40c5-9f31-cbac73a519ec,2011,"jea-bum park,byung-mok kim,jian shen,sun-young...",5,False,jea-bum park
3,0040b022-1472-4f70-a753-74832df65266,1998,"giovanna guerrini,isabella merlo",2,True,giovanna guerrini
4,005ce28f-ed77-4e97-afdc-a296137186a1,2009,"rafael álvarez,leandro tortosa,josé-francisco ...",4,False,rafael álvarez

In [ ]:
# fraction of first author papers in the early career