In [1]:
import pandas as pd
import numpy as np

In [2]:
authorStartEndCareerData = pd.read_csv('./derived-data/authors-scientific-atleast-1-year.csv')
authorStartEndCareerData.head()

,author,start_year,end_year,num_pub,career_length,max_absence,avg_absence,dropped_after_10,gender
0,'maseka lesaoana,2001,2015,2,15,14,14.0,True,none
1,(max) zong-ming cheng,2009,2011,2,3,2,2.0,False,none
2,(zhou) bryan bai,2011,2012,2,2,1,1.0,False,none
3,a aart blokhuis,1992,2005,2,14,13,13.0,True,none
4,a ahrabian,2017,2017,1,1,15,15.0,True,none

In [3]:
male = authorStartEndCareerData[authorStartEndCareerData.gender == 'm'].max_absence

In [4]:
female = authorStartEndCareerData[authorStartEndCareerData.gender == 'f'].max_absence

In [5]:
print(male.shape)
print(female.shape)

(793766,)
(255500,)

In [34]:
def cliffsD(ser1, ser2):
    # only small integer values!
    np_1 = np.array(ser1, dtype=np.int8)
    np_2 = np.array(ser2, dtype=np.int8)
    return np.mean(np.sign(np_1[:, None] - np_2).mean(axis=1))

In [33]:
cliffsD(male, female)

-0.056557295548457606

In [42]:
cliffsD_cohorts = pd.DataFrame(columns=['start_year', 'cliffsD'])
for start_year in sorted(authorStartEndCareerData.start_year.unique()):
    data = authorStartEndCareerData[authorStartEndCareerData.start_year == start_year]
    cliffsd = cliffsD(data[data.gender == 'm'].max_absence, data[data.gender == 'f'].max_absence)
    print([start_year, cliffsd])

[1970, -0.055906593406593395]
[1971, -0.12250147200099165]
[1972, -0.17175039872408296]
[1973, -0.09160603371783499]
[1974, -0.09178075768942236]
[1975, -0.022977907943739374]
[1976, -0.10030942050919853]
[1977, -0.10183522840614401]
[1978, -0.11288298511447835]
[1979, -0.06294289991517948]
[1980, -0.08057193084487681]
[1981, -0.04743070596729132]
[1982, 0.01350841242450389]
[1983, 0.017291180985955557]
[1984, -0.021440769373142914]
[1985, -0.06866107564567947]
[1986, -0.026981162835504557]
[1987, -0.05439088618496892]
[1988, -0.06949623002651101]
[1989, -0.03678340441721231]
[1990, -0.04349581779317887]
[1991, -0.025480887457427957]
[1992, -0.05244904069699175]
[1993, -0.039370772320119124]
[1994, -0.04496832176111701]
[1995, -0.01822680740742673]
[1996, -0.03588653203216771]
[1997, -0.012576532144424031]
[1998, -0.05700541914604912]
[1999, -0.040803809760902726]
[2000, -0.065148175199438]
[2001, -0.05415734915919577]
[2002, -0.04713578280409179]
[2003, -0.05078066345107705]
[2004, -0.05161966157336867]
[2005, -0.03698329951070586]
[2006, -0.04383071628546533]
[2007, -0.04982596093605694]
[2008, -0.05225123145346809]
[2009, -0.063156443722309]
[2010, -0.06216742732428121]
[2011, -0.053193033468830746]
[2012, -0.05158897832952007]
[2013, -0.04998645508711329]
[2014, -0.04275311363443515]
[2015, -0.04337923711039553]
[2016, -0.024118412787229704]
[2017, -0.010506991545060946]
[2018, nan]

/home/danielkostic/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: RuntimeWarning: Mean of empty slice.
  """
/home/danielkostic/anaconda3/lib/python3.6/site-packages/numpy/core/_methods.py:73: RuntimeWarning: invalid value encountered in true_divide
  ret, rcount, out=ret, casting='unsafe', subok=False)

In [40]:
cliffsD_cohorts

Empty DataFrame
Columns: [start_year, cliffsD]
Index: []