In [52]:
import calculate
from importlib import reload
import numpy as np

In [59]:
import credible_authors_
reload(credible_authors_)

In [3]:
a = credible_authors_.DataStore(early_career_len_list=[7]).team_size()

load publication data from CSV
load citation data from CSV
cited_papers_network - create
cited_papers_network - add start year
ea_pubs - create

In [21]:
'001c58d3-26ad-46b3-ab3a-c1e557d16821' in a.cited_papers_network['pub_id'].values

False

In [16]:
a.authorCitationsData.columns

Index(['id1', 'id2', 'year'], dtype='object')

In [24]:
a.uncited_papers_network = a.authorPublicationData.merge(a.authorCitationsData, left_on='pub_id', right_on='id2', how='left',
                                suffixes=('_pub', '_cit'))

In [42]:
a.uncited_papers_network = a.uncited_papers_network.drop_duplicates(subset=['pub_id', 'id1'])

In [43]:
a.uncited_papers_network.head()

,author,year_pub,pub_id,id1,id2,year_cit
0,graeme earl,2011,001c58d3-26ad-46b3-ab3a-c1e557d16821,NaN,NaN,0.0
2,m. nasser,2009,001c8744-73c4-4b04-9364-22d31a10dbf1,49ec0c15-7a9d-4378-a26a-f5063567b519,001c8744-73c4-4b04-9364-22d31a10dbf1,2013.0
3,m. nasser,2009,001c8744-73c4-4b04-9364-22d31a10dbf1,ae0b4e3d-305d-4fb8-9847-60dcc9a9ec44,001c8744-73c4-4b04-9364-22d31a10dbf1,2014.0
10,dae-seok rho,2011,00338203-9eb3-40c5-9f31-cbac73a519ec,NaN,NaN,0.0
15,isabella merlo,1998,0040b022-1472-4f70-a753-74832df65266,NaN,NaN,0.0

In [44]:
papers_cit_num = a.uncited_papers_network.groupby('pub_id').agg({'id1': 'count'})

In [45]:
papers_cit_num.loc['001c8744-73c4-4b04-9364-22d31a10dbf1']

id1    2
Name: 001c8744-73c4-4b04-9364-22d31a10dbf1, dtype: int64

In [ ]:
a.early_career_len_list = [9]

In [60]:
a = credible_authors_.DataStore(early_career_len_list=[3,5]).team_size()

load publication data from CSV
load citation data from CSV
cited_papers_network - create
cited_papers_network - add start year
early_career_publications - create
all_papers_num_cit - create
team_size for ec in [3, 5]

In [61]:
a.all_papers_num_cit.columns

Index(['id1'], dtype='object')

In [62]:
a.credible_authors_instance.columns

Index(['author', 'start_year', 'end_year', 'total_num_pub', 'career_length',
       'gender', 'team_size_median_3', 'team_size_mean_3',
       'team_size_median_5', 'team_size_mean_5'],
      dtype='object')

In [63]:
b = credible_authors_.DataStore(early_career_len_list=[9]).team_size()

team_size for ec in [7]

In [64]:
b.credible_authors_instance.head()

,author,start_year,end_year,total_num_pub,career_length,gender,team_size_median_7,team_size_mean_7
0,a. alexandre,2004,2004,1,1,m,5.0,5.0
1,a. berger,2010,2010,1,1,m,7.0,7.0
2,a. c. c. van wijk,2010,2010,1,1,m,4.0,4.0
3,a. chekima,2009,2009,1,1,m,4.0,4.0
4,a. chris bogen,2005,2005,1,1,none,2.0,2.0

In [ ]:
reload(calculate)

In [ ]:
#compared with http://shlegeris.com/gini

print(calculate.gini(np.asarray([0.85, 0.1, 0.05, 0])))
print(calculate.hhi(np.asarray([0.85, 0.1, 0.05, 0])))
print(calculate.percentage_zeros(np.asarray([0.85, 0.1, 0.05, 0])))
print((np.asarray([0.85, 0.1, 0.05, 0]).size)-np.count_nonzero(np.asarray([0.85, 0.1, 0.05, 0])))
print(np.asarray([0.85, 0.1, 0.05, 0]).size)

In [ ]:
# gini increases as we add zeros

print(calculate.gini(np.asarray([0.85, 0.1, 0.05, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])))

print(calculate.hhi(np.asarray([0.85, 0.1, 0.05, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])))

print(calculate.percentage_zeros(np.asarray([0.85, 0.1, 0.05, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])))

In [ ]:
calculate.gini(np.asarray([1.0,1.0,1.0,1.0,1.0,1.0]))

In [ ]:
data = np.asarray([1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0])
calculate.gini(data)

In [ ]:
import pysal
#####


# Test gini claculation
s1 = np.random.uniform(-1,0,10000)
s2 = np.random.uniform(-1,0,100)
s3 = np.array([5.0, 4.0, 3.0, 2.0, 1.0, 0.0])
s4 = np.array([5.0, 4.0, 3.0, 2.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0])

print(calculate.gini(s1))
print(calculate.gini(s2))
print(calculate.gini(s3))
print(calculate.gini(s4))


print(pysal.inequality.gini.Gini(s1).g)
print(pysal.inequality.gini.Gini(s2).g)
print(pysal.inequality.gini.Gini(s3).g)
print(pysal.inequality.gini.Gini(s4).g)

In [ ]:
a = np.array([1,2,3,0])

In [ ]:
a = a.astype('float64')

In [ ]:
calculate.gini_nonzero(a)

In [ ]:
calculate.gini(a)

In [ ]:
a

In [ ]:
array = array[array.nonzero()]